/*
Recipe
*/
.recipe{
    position: absolute;
  inset: 0;
  background: url(../assets/index.jpg) center top / contain no-repeat;
  z-index: 0;
}

.recipe .main_title h1{
    color: 'green'
    top: 40%;
    height: 60%;
    padding-top: 50px;
}