{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
	</head>
    <body>
        <main>
            <div class="content-wrapper">
				<section class="content" id="about-us">
					<h3 class="our_team">OUR TEAM</h3>
					<div class="grid">
						<div class="row">
							<div class="cell">
								<div class="img-wrapper">
									<img src="{% static 'main/img/Рисунок9.png' %}" alt="Фото участника" />
								</div>
								<h3 class="title">Chezhegov Gleb Pavlovich</h3>
								<p class="subtitle">Project Manager</p>
							</div>
							<div class="cell">
								<div class="img-wrapper">
									<img src="{% static 'main/img/Рисунок6.png' %}" alt="Фото участника" />
								</div>
								<h3 class="title">Ivanov Viktor Sergeevich</h3>
								<p class="subtitle">Analyst</p>
							</div>
							<div class="cell">
								<div class="img-wrapper">
									<img src="{% static 'main/img/Рисунок2.png' %}" alt="Фото участника" />
								</div>
								<h3 class="title">Smirnova Karina Andreevna</h3>
								<p class="subtitle">Manager</p>
							</div>
							<div class="cell">
								<div class="img-wrapper">
									<img src="{% static 'main/img/Рисунок3.png' %}" alt="Фото участника" />
								</div>
								<h3 class="title">Skoblilova Victoria Vasilievna</h3>
								<p class="subtitle">UX/UI researcher</p>
							</div>
						</div>
						<div class="row">
							<div class="cell">
								<div class="img-wrapper">
									<img src="{% static 'main/img/Рисунок4.png' %}" alt="Фото участника" />
								</div>
								<h3 class="title">Tsvetkov Ivan Alexandrovich</h3>
								<p class="subtitle">Developer</p>
							</div>
							<div class="cell">
								<div class="img-wrapper">
									<img src="{% static 'main/img/Рисунок5.png' %}" alt="Фото участника" />
								</div>
								<h3 class="title">Tutubalin Kirill Sergeevich</h3>
								<p class="subtitle">Developer</p>
							</div>
							<div class="cell">
								<div class="img-wrapper">
									<img src="{% static 'main/img/Рисунок8.png' %}" alt="Фото участника" />
								</div>
								<h3 class="title">Vlasov Matvey Romanovich</h3>
								<p class="subtitle">Tester</p>
							</div>
						</div>
					</div>
				</section>
				<section class="content" id="help">
					<h3 class="Support">Support 24/7:</h3>
					<p class="mail">
						<a href="mailto:serviceoffood@mail.ru">serviceoffood@mail.ru</a>
					</p>
				</section>
			</div>
		</main>
	</body>
</html>
