{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link type="text/css" href="{% static 'main/css/recipe.css' %}" rel="stylesheet">
</head>

{% block content %}
<h1 class="main_title">{{title}}</h1>
<body>
    <ul>
        {% for ri in recipes %}
        <li>
            <h2>{{ri.title}}</h2>
            <p>{{ri.content|truncatewords:30}}</p>
            <button><a href="{% url 'recipe' ri.pk %}">Читать статью</a></button>
            <hr>
        </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
</html>