{% load static %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/recipe.css' %}" />
</head>

<p><a href="{% url 'add_recipe' %}">Добавить статью</a></p>
{% block content %}
<h1 class="main_title">{{title}}</h1>

<body>
    <div class="left_bord">
        {% if category_selected == 0 %}
            <p calss="selected">Все категории</p>
        {% else %}
            <li><a href="{% url 'recipes' %}">Все категории</a></li>
        {% endif %}

        {% show_categories %}
    </div>

    <div class="articles">
        <ul>
            {% for ri in recipes %}
            <li>
                <p>Категория: {{ ri.category }}</p>
                <p>Дата: {{ ri.time_create }}</p>
                {% if ri.photo %}
                    <p><img src="{{ri.photo.url}}" alt="photo"></p>
                {% endif %}
                <h2>{{ri.title}}</h2>
                <p>{{ri.content|truncatewords:30}}</p>
                <button><a href="{{ ri.get_absolute_url }}">Читать статью</a></button>
                <hr>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
{% endblock %}
</html>